<div class="register app-pages app-section">
  <div class="container">
    <div class="pages-title">
      <h3>Dashboard</h3>
    </div>
    <div class="col-sm-12 col-lg-12">
      <div class="panel panel-primary">
        <div class="container-fluid">
          <% if(locals.members) { %>
            <div class="row-fluid">
              <div class="span12">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Email</th>
                    <th>Sign Up Time</th>
                    <th>Session Time</th>
                    <th>Login Count</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% for (var i = 0; i < locals.members.length; i++) { %>
                    <tr>
                      <td><%= locals.members[i].email %></td>
                      <td><%= locals.members[i].createTime %></td>
                      <td><%= locals.members[i].sessionTime %></td>
                      <td><%= locals.members[i].loggedInCount %></td>
                    </tr>
                  <%}%>
                  </tbody>
                </table>
              </div>
            </div>
          <% } %>

          <div class="row-fluid">
            <div class="span12">
              <hr>
              <table class="table">
                <thead>
                  <tr>
                    <th>Total Account</th>
                    <th>Active sessions today</th>
                    <th>7 Days average active</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%=locals.totalAccount%></td>
                    <td><%=locals.loginCount%></td>
                    <td><%=locals.sessionCount%></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
